{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	početna
{% endblock %}

{% block body %}
	<dir>
		<h1>Bog neka te čuva moj Leonardo
			{{ puta }}
			puta!</h1>
	</dir>
{% endblock %}
